<div class="header">
	<div class="header-top">
		<div class="container">
				<div class="col5 logo">
						<%= image_tag 'navLOGO.png', class: 'logo-image'%>
				</div>
			
			<div class="container-fluid header-right" id="rightalign">
		    <% if spree_current_user %>
          <p><%= link_to Spree.t(:my_account), spree.account_path %></p>
          <p><%= link_to Spree.t(:logout), spree.logout_path %></p>
          <% else %>
            <p><a href="#myModal" data-toggle="modal" data-target="#myModal">Log-in</a>
            <p><a href="#signupModal" data-toggle="modal" data-target="#signupModal">Sign-up</a>
          <% end %>
				  <p id="link-to-cart" data-hook>
            <noscript>
              <%= link_to Spree.t(:cart), '/cart' %>
            </noscript>
            &nbsp;
          </p>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="col-sm-2 number">
					<span><i class="glyphicon glyphicon-phone"></i><a href="tel:+18507916996">850-791-6996</a></span><br>
					<span><i class="glyphicon glyphicon-envelope"></i><a href="mailto:expressmobiletechs@gmail.com">  Email Us!</a></span>
				</div>
		 <div class="col-sm-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
				      <li><%= link_to 'AT&T', 'http://www.expressmobilephone.com/t/categories/new-node' %>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4></h4>
									<ul>
										
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4></h4>
									
								</div>							
							</div>
							<div class="col1">
															
							</div>
						  </div>
						</div>
					</li>
				    <li class="grid"><%= link_to 'Verizon', 'http://www.expressmobilephone.com/t/carrier/verizon' %>
					  	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4></h4>
									<ul>
						
									</ul>	
								</div>							
							</div>
						
							<div class="col1">
								<div class="h_nav">
									<h4>Popular Brands</h4>
									<ul>
										
									</ul>	
								</div>												
							</div>
						  </div>
						</div>
			    </li>
			    <li>
			    <%= link_to 'Unlocked', 'http://www.expressmobilephone.com/t/carrier/unlocked' %>
					  	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4></h4>
									<ul>
						
									</ul>	
								</div>							
							</div>
						
							<div class="col1">
								<div class="h_nav">
									<h4>Popular Brands</h4>
									<ul>
										
									</ul>	
								</div>												
							</div>
						  </div>
						</div>
			    </li>
			    	<li id="search-bar" style="width: 100%; " data-hook>
              <%= render :partial => 'spree/shared/search' %>
          </li>	
			  </ul> 
			</div>
		<!-- login modal -->
		<div class="modal fade" id="myModal">
    	<div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Log-in</h4>
            </div>
            <div class="modal-body">
              <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
              <fieldset id="password-credentials">
                <div class="form-group">
                  <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, Spree.t(:remember_me) %>
                  </label>
                </div>
                <div class="form-group">
                  <%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 3 %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
		</div>
		<!-- end of login modal -->
		<!-- Signup modal -->
			<div class="modal fade" id="signupModal">
    	<div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Shop by</h4>
            </div>
            <div class="modal-body">
            	<div class="container">
               	<%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
               </div>
              </div>
          </div>
        </div>
      </div>
		</div>
		<!-- end of signup modal -->
	</div>
</div>